@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Josefin+Sans:wght@200;300;400;600&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Overpass:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
}
.container {
    min-width: 250px;
    height: 500px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.container img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}
.container h2 {
    width: 240px;
    font-size: 20px;
    margin: 20px auto 15px;
    color: hsl(218, 44%, 22%);
}
.container p {
    width: 250px;
    margin: 0 auto;
    color: hsl(220, 15%, 55%);
}